.popup{
    width: 300px;
    border-radius: 8px;
    position: absolute;
    top:0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.5s , top 0.5s;
}
.open-popup{
    visibility: visible;
    top: 65%;
    transform: translate(-50%,-50%) scale(1);
}